.item {
   border-radius: 15px;
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 50px / 1fr;
   background-color: rgba($color: #262626, $alpha: 0.6);
   backdrop-filter: blur(5px);
   border: 1px solid rgba($color: #eee, $alpha: 0.2);
   &__img {
      transition: .3s;
      position: relative;
      padding: 0 0 100% 0;
      background: #fff;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      overflow: hidden;
   }
   &__img img {
      width: 100%;
      height: auto;
      object-fit: none;
      object-fit: cover;
   }
   &__description{
      transition: .3s;
      color: var(--white);
      display: flex;
      justify-content: space-between;
   }
   &__name {
      padding: 15px;
   }
   &__price {
      padding: 15px;
   }
   &__more{
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 5px;
      padding: 5px;
      border-radius: 10px;
      background-color: rgba($color: #262626, $alpha: 0.6);
      backdrop-filter: blur(5px);
      position: absolute;
      top: 5px;
      right: 5px;
   }
   &__more:hover{
      width: auto;
   }
   &__about{
      z-index: 1;
      position: absolute;
      opacity: 0;
   }
   &__icon{
      cursor: pointer;
      z-index: 2;
      padding: 5px;
      font-size: 30px;
      color: var(--white);
      transition: .2s;
      @media (max-width:767px) {
         font-size: 35px;
      }
   }
   &__icon:hover{
      color: var(--col1);
   }
}